.App {
  text-align: center;
}

.fotoPerfil {
  height: 20vw;
}

.corpo {
  background-color: #2368f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}